# ignoring mesh Files
*.boundary
*.elements
*.header
*.nodes
*.names
*.prof

# ignoring binary files
*.out
*.so
*.mod

# ignoring precice log files
*.log
*.json
*.pyc

# ignoring specific sif file
entities.sif
venv

# ignoring results directory
Results/
build/
out/